xml-zadanie-2/xml-zadanie-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- File: xml-zadanie-2.xsd -->
<!-- Authors: Konrad Jaworski, Tomasz Witczak -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="technologieXML-zad2-bookStore"
            targetNamespace="technologieXML-zad2-bookStore"
            elementFormDefault="qualified">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Root element and identity constraints -->
    <xsd:element name="bookStore" type="tns:type_bookStore">

        <!-- > unique authors -->
        <xsd:key name="key_author">
            <xsd:selector xpath="./tns:authors/tns:author" />
            <xsd:field xpath="tns:firstName" />
            <xsd:field xpath="tns:lastName" />
            <xsd:field xpath="tns:birthDate" />
        </xsd:key>
        <xsd:key name="key_authorID">
            <xsd:selector xpath="./tns:authors/tns:author" />
            <xsd:field xpath="@authorID" />
        </xsd:key>

        <!-- > unique genres -->
        <xsd:key name="key_genre">
            <xsd:selector xpath="./tns:genres/tns:genre" />
            <xsd:field xpath="." />
        </xsd:key>
        <xsd:key name="key_genreID">
            <xsd:selector xpath="./tns:genres/tns:genre" />
            <xsd:field xpath="@genreID" />
        </xsd:key>

        <!-- > unique publishers -->
        <xsd:key name="key_publisher">
            <xsd:selector xpath="./tns:publishers/tns:publisher" />
            <xsd:field xpath="." />
        </xsd:key>
        <xsd:key name="key_publisherID">
            <xsd:selector xpath="./tns:publishers/tns:publisher" />
            <xsd:field xpath="@publisherID" />
        </xsd:key>

        <!-- > unique books -->
        <xsd:key name="key_book">
            <xsd:selector xpath="./tns:books/tns:book" />
            <xsd:field xpath="tns:title" />
            <xsd:field xpath="tns:pages" />
            <xsd:field xpath="tns:publishYear" />
            <xsd:field xpath="tns:price" />
            <xsd:field xpath="tns:frontCover/@src" />
            <xsd:field xpath="tns:isbn" />
            <xsd:field xpath="@authorID" />
            <xsd:field xpath="@genreID" />
            <xsd:field xpath="@coverTypeENUM" />
            <xsd:field xpath="@publisherID" />
        </xsd:key>
        <xsd:key name="key_bookID">
            <xsd:selector xpath="./tns:books/tns:book" />
            <xsd:field xpath="@bookID" />
        </xsd:key>
        <xsd:keyref name="ref_authorID" refer="tns:key_authorID">
            <xsd:selector xpath="./tns:books/tns:book" />
            <xsd:field xpath="@authorID" />
        </xsd:keyref>
        <xsd:keyref name="ref_genre" refer="tns:key_genre">
            <xsd:selector xpath="./tns:books/tns:book" />
            <xsd:field xpath="@genreID" />
        </xsd:keyref>
        <xsd:keyref name="ref_genreID" refer="tns:key_genreID">
            <xsd:selector xpath="./tns:books/tns:book" />
            <xsd:field xpath="@genreID" />
        </xsd:keyref>
        <xsd:keyref name="ref_publisher" refer="tns:key_publisher">
            <xsd:selector xpath="./tns:books/tns:book" />
            <xsd:field xpath="@publisherID" />
        </xsd:keyref>
        <xsd:keyref name="ref_publisherID" refer="tns:key_publisherID">
            <xsd:selector xpath="./tns:books/tns:book" />
            <xsd:field xpath="@publisherID" />
        </xsd:keyref>


    </xsd:element>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Groups -->
    <xsd:group name="group_fullName">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Full name consists of:
                - first name
                - last name
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="firstName" type="tns:type_name" />
            <xsd:element name="lastName" type="tns:type_name" />
        </xsd:sequence>
    </xsd:group>


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Document structure through types -->
    <!-- > bookStore -->
    <xsd:complexType name="type_bookStore">
        <xsd:sequence>
            <xsd:element name="header" type="tns:type_header" />
            <xsd:element name="authors" type="tns:type_authors" />
            <xsd:element name="genres" type="tns:type_genres" />
            <xsd:element name="coverTypes" type="tns:type_coverTypes" />
            <xsd:element name="publishers" type="tns:type_publishers" />
            <xsd:element name="books" type="tns:type_books" />
        </xsd:sequence>
    </xsd:complexType>

        <!-- > header -->
        <xsd:complexType name="type_header">
            <xsd:sequence>
                <xsd:element name="mainTitle" type="xsd:string" />
                <xsd:element name="description" type="xsd:string" />
                <xsd:element name="students" type="tns:type_students" />
            </xsd:sequence>
        </xsd:complexType>

            <!-- > students -->
            <xsd:complexType name="type_students">
                <xsd:sequence>
                    <xsd:element name="student" type="tns:type_student" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

                <!-- > student -->
                <xsd:complexType name="type_student">
                    <xsd:sequence>
                        <xsd:group ref="tns:group_fullName" />
                        <xsd:element name="indexNr" type="tns:type_studentNumber" />
                    </xsd:sequence>
                </xsd:complexType>

        <!-- > authors -->
        <xsd:complexType name="type_authors">
            <xsd:sequence>
                <xsd:element name="author" type="tns:type_author" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>

            <!-- > author -->
            <xsd:complexType name="type_author">
                <xsd:sequence>
                    <xsd:group ref="tns:group_fullName" />
                    <xsd:element name="birthDate" type="tns:type_date" />
                </xsd:sequence>
                <xsd:attribute name="authorID" type="tns:type_name" use="required" />
            </xsd:complexType>

        <!-- > genres -->
        <xsd:complexType name="type_genres">
            <xsd:sequence>
                <xsd:element name="genre" type="tns:type_genre" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>

            <!-- > genre -->
            <xsd:complexType name="type_genre">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="genreID" type="tns:type_textWithPunctuation" use="required" />
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>

        <!-- > coverTypes -->
        <xsd:complexType name="type_coverTypes">
            <xsd:sequence>
                <xsd:element name="coverType" type="tns:type_coverType" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>

            <!-- > coverType -->
            <xsd:complexType name="type_coverType">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute type="tns:type_coverTypeENUM" name="coverTypeENUM" use="required" />
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>

        <!-- > publishers -->
        <xsd:complexType name="type_publishers">
            <xsd:sequence>
                <xsd:element name="publisher" type="tns:type_publisher" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>

            <!-- > publisher -->
            <xsd:complexType name="type_publisher">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="publisherID" type="tns:type_textWithPunctuation" use="required" />
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>

        <!-- > books -->
        <xsd:complexType name="type_books">
            <xsd:sequence>
                <xsd:element name="book" type="tns:type_book" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>

            <!-- > book -->
            <xsd:complexType name="type_book">
                <xsd:sequence>
                    <xsd:element name="title" type="tns:type_title" />
                    <xsd:element name="pages" type="xsd:nonNegativeInteger" />
                    <xsd:element name="publishYear" type="xsd:gYear" />
                    <xsd:element name="price" type="xsd:decimal" />
                    <xsd:element name="frontCover" type="tns:type_frontCover" />
                    <xsd:element name="isbn" type="tns:type_isbn" />
                </xsd:sequence>
                <xsd:attribute name="bookID" type="xsd:nonNegativeInteger" use="required" />
                <xsd:attribute name="authorID" type="tns:type_name" use="required" />
                <xsd:attribute name="genreID" type="tns:type_textWithPunctuation" use="required" />
                <xsd:attribute name="coverTypeENUM" type="tns:type_coverTypeENUM" use="required" />
                <xsd:attribute name="publisherID" type="xsd:string" use="required" />
            </xsd:complexType>

                <!-- > frontCover -->
                <xsd:complexType name="type_frontCover">
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="src" type="xsd:string" use="required" />
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Additional simple types -->
    <xsd:simpleType name="type_coverTypeENUM">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="paperback" />
            <xsd:enumeration value="hardback" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type_textWithPunctuation">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(\p{L}|\s|\p{P})+" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type_title">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\p{Lu}(\p{L}|\s|\p{P})+" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type_name">               <!-- generic name type, first letter in uppercase -->
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\p{Lu}\p{L}+" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type_studentNumber">      <!-- student number -->
        <xsd:restriction base="xsd:integer">
            <xsd:pattern value="[0-9]{6}" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type_date">               <!-- date formatted like DAY-MONTH-YEAR -->
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([0][1-9]|[12][0-9]|[3][01])-([0][1-9]|[1][0-2])-([1-9][0-9]*)" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="type_isbn">
        <xsd:restriction base="xsd:string">
            <!-- TODO --> <xsd:pattern value="(\c{17})|(\c{13})" />
        </xsd:restriction>
    </xsd:simpleType>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
</xsd:schema>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->